@*@using ViewBag_ViewData_TempData.Models
@model Product*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Index</h1>
<h3>@ViewData["ProductName"]</h3>
<h3>@ViewBag.Name</h3>
<h3>@TempData["Age"]</h3>*@
@*<h2>@Model.Id</h2>
<h2>@Model.Name</h2>
<h2>@Model.Price</h2>
*@
